<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        [[data]]
    </h1>
    <div id='app-6'>
       <h1>{{message}}</h1>
       <input v-model='message'/>
    </div>
    
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html> -->
{% extends './layout.html' %}

{% block title %}
    图舒列表
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <ul>
    {% for item in data %}
        <li>[[item.bookName]]</li>
    {% endfor %}
    </ul>
    
{% endblock %}

{% block scripts %}
    console.log('我是首页')
{% endblock %}

